$font-family: "Source Sans Pro", sans-serif;

* {
    box-sizing: border-box;
}

html {
    font-family: $font-family;
    color: #111;
}

body {
    margin: 0;
    padding: 0;
}

// Fix for IE:
main {
    display: block;
}

mark {
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    transition: background 100ms ease;
}
