$districtr-red: #ff4f49;
$districtr-red-dark: #e44944;
$districtr-red-very-dark: #9e2925;

$mggg-blue: #0099cd;
$mggg-dark_blue: #006b9c;
$mggg-very_dark_blue: #004464;

$districtr-purple: #b445b6;
$districtr-dark-purple: #9c2eb8;
$districtr-very-dark-purple: #4a0e59;

$districtr-light-grey: #f9f9f9;
$districtr-grey-hover: #f0f0f0;
$districtr-grey-active: #e0e0e0;

$outline-grey: #aaaaaa;
