$districtr-red: #ff4f49;
$districtr-red-dark: #e44944;
$districtr-red-very-dark: #9e2925;

$mggg-blue: #0099cd;
$mggg-dark_blue: #006b9c;
$mggg-very_dark_blue: #004464;

$districtr-light-grey: #f9f9f9;
$districtr-grey-hover: #f0f0f0;
$districtr-grey-active: #e0e0e0;

$outline-grey: #aaaaaa;
