// Dark

.dark {
    background: #111;
    color: white;

    h1,
    h2,
    h3 {
        color: white;
    }
    a,
    a:visited {
        color: $mggg-blue;
    }
    a:active,
    a:hover {
        text-decoration: inherit;
        color: $mggg-dark-blue;
    }
    mark {
        background: $districtr-red;
        color: white;
    }

    mark:hover {
        background: $districtr-red-dark;
    }
}
