h1 {
    font-size: 3.6rem;
    line-height: 1.4;
    margin: 1rem 0;
}

h2 {
    margin: 0 0 1rem;
    font-size: 1.8rem;
    line-height: 1.6;
}

.districtr-heading {
    text-align: center;
}

.districtr-subheading {
    text-align: center;
}
