#map {
    width: 100%;
    width: calc(75%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.brush-tool {
    cursor: pointer;
}

.inspect-tool {
    cursor: pointer;
}

.geocoder {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 50px;
}
.mapboxgl-ctrl-geocoder {
    max-width: 24rem;
    min-width: 16rem;
}

.overmapLogo {
    position: absolute;
    right: 25%;
    bottom: 5px;
    cursor: pointer;

    img {
        height: 3rem;
        border-radius: 10px;
    }
}

@media (max-width: 1200px) {
    #map {
        width: calc(100% - 300px);
    }

    .overmapLogo {
        right: 305px;
    }
}
