@mixin user-select($property) {
    -webkit-user-select: $property;
    -moz-user-select: $property;
    -ms-user-select: $property;
    user-select: $property;
}

@mixin grey-hovers {
    &:hover,
    &:focus {
        background-color: $districtr-grey-hover;
    }
    &:active {
        background-color: $districtr-grey-active;
    }
}
