h1 {
    font-size: 3.6rem;
    line-height: 1.4;
    margin: 1rem 0;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 1rem 0 0;
}

.districtr-heading {
    text-align: center;
}

.districtr-subheading {
    text-align: center;
}

.places-list-container {
    margin: 0 auto;
    width: 55%;
    min-width: 350px;
    max-width: 72rem;
    padding: 1rem;
}

.places-list {
    list-style: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.places-list__item {
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    // background: #eee;

    transition: all ease 100ms;
    width: 10rem;
    height: 10rem;

    border-radius: 0.5rem;
    background: #ff4f49;
    color: white;
}

.places-list__item:hover {
    // background: #f6f6f6;

    background: #c02d28;
}

.places-list__item {
    cursor: pointer;
}

.plan-loader {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    color: #999;
}
