.place {
    width: 100%;
    min-height: 100vh;
    left: 0;
    color: #444;
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: stretch;
    align-items: stretch;
    z-index: 1000;
}

.place__content {
    width: 55%;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 48rem;
}

.place__name {
    font-family: "Playfair Display";
    font-weight: 700;
    line-height: 2;
}

.place__map {
    width: 100%;
    height: 300px;
    height: 40vh;
    max-height: 600px;
}

.place__content p {
    margin: 0 0 1rem;
}

.place__section {
    margin: 2rem 0;
}

.place__subheading {
    border-bottom: $districtr-red-dark 2px solid;
    margin: 2rem 0;
}

@media only screen and (max-width: 800px) {
    .place {
        flex-direction: column;
    }
    .place__content {
        width: 100%;
    }
    .place__map {
        width: 100%;
    }
}

.plan-thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem;
    padding: 0;
    justify-content: center;
}

.plan-thumbs__thumb {
    box-shadow: $raised;
    max-width: 12rem;
    max-height: 12rem;
    margin: 0.5rem;
    transition: 100ms all ease;
}

.plan-thumbs__thumb:hover,
.plan-thumbs__thumb:active {
    box-shadow: $focus-shadow;
}

.thumb__img {
    max-width: 100%;
    max-height: 100%;
}
