// Sepia
$sepia_background: rgb(247, 241, 238);
$sepia_accent: #806463;
$sepia_accent_dark: #503f3e;
$sepia_accent_light: #bdaaa8;

.sepia {
    background: $sepia_background;
}

.sepia a,
.sepia a:visited {
    color: $sepia_accent;
}

.sepia a:hover,
.sepia a:active {
    color: $sepia_accent_dark;
    // color: #ac8682;
}

.sepia mark {
    background: $sepia_accent_light;
    color: white;
}

.sepia mark:hover {
    background: $districtr_red;
}
