// Sepia
$sepia_background: rgb(247, 241, 238);
$sepia_accent: #806463;
$sepia_accent_dark: #503f3e;

.sepia {
    background: $sepia_background;
}

.sepia a,
.sepia a:visited {
    color: $sepia_accent;
}

.sepia a:hover,
.sepia a:active {
    color: $sepia_accent_dark;
    // color: #ac8682;
}

.sepia mark {
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    background: #bdaaa8;
    color: white;
    transition: background 100ms ease;
}

.sepia mark:hover {
    background: $districtr_red;
}
