$focus-shadow: 0 1px 4px rgba(10, 10, 10, 0.5);
$raised: 0 4px 16px rgba(12, 12, 13, 0.1);
$raised--dark: 0 4px 16px rgba(12, 12, 13, 0.2);
$raised-bottom: 0 4px 4px rgba(12, 12, 13, 0.1);
$text-shadow: 1px 1px rgba(10, 10, 10, 0.5);
