@import "links";
@import "sepia";
@import "dark";
@import "components/technologies";
@import "shadows";

p {
    line-height: 1.75;
}

.landing-page {
    color: #444;
    font-size: 1.5rem;
    overflow: hidden;
    display: block;
}

.splash {
    min-height: 100vh;
    padding-top: 2rem;
}

.hello {
    background: url(../assets/districtr-splash.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.splash-text {
    z-index: 1;
    min-width: 250px;
    width: 53.3%;
    margin: 0;
    margin-left: 13.3%;
    // transform: translateY(50vh);
}

.details .splash-text {
    margin-left: 33.3%;
}

.takeaway {
    font-weight: 400;
    margin: 0 0 1rem;
    line-height: 1.75;
}

.districtr-name,
.button,
.button:visited {
    background: $districtr-red;
    color: white;

    border-radius: 0.4rem;
    // padding: 0.2rem 0.4rem;
    padding: 0.1rem 0.4rem;

    font-weight: 400;
    font-family: $font-family;

    margin: 0;
    outline: 0;
    border: none;
}

.button:hover,
.button:active {
    cursor: pointer;
    color: white;
    background: $districtr-red-dark;
}

.button:active {
    outline: 0;
}

.button:focus {
    box-shadow: $focus-shadow;
    outline: 0;
}

.button--alternate {
    background-color: $mggg-blue;
}

.button--alternate:hover,
.button--alternate:active {
    background: $mggg-dark-blue;
}

.button--transparent {
    background: none;
    color: $mggg-blue;
}

.button--transparent:hover {
    background: $districtr-grey-hover;
    color: $mggg-blue;
}

.button--transparent:active {
    background: $districtr-grey-active;
    color: $mggg-blue;
    box-shadow: none;
}

.button--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    line-height: 1;
}

.details {
    padding: 2rem 0;
    justify-content: right;
    min-height: 0;
}

.splash-code-details {
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.splash-code-text {
    text-align: center;
    min-width: 250px;
    margin: 2rem 0;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
}

.code-title {
    width: 60%;
    font-weight: 300;
    line-height: 1.25;
    font-size: 2rem;
    margin: 1rem auto;
}

.features {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
}

.splash-text p:last-child {
    margin-bottom: 0;
}

.team {
    background: #222;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-align: left;
    font-size: 1.25rem;
    color: #ccc;
}

.team__title {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}

.team-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}

.team-list__item {
    margin: 1rem;
}

.team-members {
    padding: 0;
    margin: 0;
}

.team-member {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.team dt {
    font-weight: 600;
    color: white;
    line-height: 1.5;
}

.team dt::after {
    content: ":";
}

.team dd {
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .splash {
        padding: 4rem 1rem;
    }
    .landing-page {
        background-image: url(../assets/districtr-splash-small.png);
    }
    .hello {
        background: rgba(255, 255, 255, 0.5);
    }
    .team-list {
        justify-content: left;
    }
    .code-title {
        width: auto;
        margin: 0.5rem;
        text-align: left;
    }
}

@media only screen and (max-width: 800px) {
    .landing-page {
        font-size: 1.25rem;
    }
}

@supports (display: grid) {
    .splash {
        display: grid;
        grid-template-columns: 2fr 3fr 5fr 3fr 2fr;
        width: auto;
    }

    .splash-text,
    .details .splash-text {
        margin-left: 0;
        margin-right: 0;
    }

    .splash-text {
        width: auto;
        grid-column: 3 / 5;
    }

    .hello .splash-text {
        grid-column: 2 / 4;
        padding: 0;
    }

    .splash-code-text {
        grid-column: 2 / -1;
    }
    @media only screen and (max-width: 800px) {
        .splash {
            grid-template-columns: 1fr;
        }
    }
}

.u-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
