@import "icon-list";
@import "slider";

#toolbar {
    position: fixed;
    right: 0;
    // background: rgba(255, 255, 255, 0.8);
    background: white;
    padding: 0;
    margin: 0;
    min-width: 300px;
    max-height: 100vh;
    overflow-y: auto;
    // box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    // 0 2px 4px rgba(0, 0, 0, 0.24);
}

#toolbar section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

fieldset {
    margin: 0.5rem 0;
    padding: 0;
    border: 0;
}

legend {
    font-weight: 600;
    margin: 0 auto;
    line-height: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
}

#tool-options {
    background: #f9f9f9;
    box-shadow: 0px -10px 15px -20px rgba(0, 0, 0, 0.3) inset,
        0px 10px 15px -20px rgba(0, 0, 0, 0.3) inset;
    max-height: 0;
    overflow: hidden;
    transition: all 200ms ease;
}

#tool-options.active {
    max-height: 400px;
}

// Brush radius slider

@media only screen and (max-width: 400px) {
    #toolbar,
    #toolbar section {
        top: 0;
        flex-direction: row;
        overflow: auto;
        width: 100%;
    }
    .color-list {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
