@import "base";
@import "colors";
@import "headings";
@import "map";
@import "links";
@import "shadows";
@import "components/toolbar";
@import "components/charts";
@import "components/tooltip";
@import "components/places";
@import "components/button";
@import "components/header-with-toggle";

.layer-list {
    padding: 0 1rem;
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 1rem;
}

.layer-list__item {
    display: flex;
    flex-direction: column;
}

.parameter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.25rem;
}

.parameter__label {
    font-weight: bold;
    margin-right: 0.5rem;
}

select {
    margin: 0.25rem 0;
    max-width: 200px;
}

.modal-wrapper {
    position: absolute;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 30rem;
    background: $districtr_light_grey;
    line-height: 1.5;
    z-index: 1000000;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: $focus_shadow;
}
