@import "base";
@import "colors";
@import "headings";
@import "map";
@import "links";
@import "shadows";
@import "components/toolbar";
@import "components/charts";
@import "components/tooltip";
@import "components/places";
@import "components/button";
@import "components/header-with-toggle";
@import "components/media";

.layer-list {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.layer-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.parameter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.25rem;
}

.parameter__label {
    font-weight: bold;
    margin-right: 0.5rem;
}

select {
    margin: 0.25rem 0;
    font-family: $font-family;
    font-size: 1rem;
    max-width: 200px;
    line-height: 1.5;
}

option {
    font-family: $font-family;
}

.modal-wrapper {
    position: absolute;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.modal-content {
    line-height: 1.5;
    z-index: 1000000;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: $raised;
    padding: 1rem;
    color: #444;
    border: 1px solid #004464;
    max-width: 36rem;
    max-height: 100%;
    overflow: auto;
}

.text-input {
    font-size: 1rem;
    font-family: $font-family;
    border: 1px solid $districtr-grey-active;
    padding: 0.25rem;
    transition: all 100ms ease;
    outline: none;
    background: none;
    margin: 1rem;
}
