@import "base";
@import "colors";
@import "headings";
@import "map";
@import "links";
@import "shadows";
@import "components/toolbar";
@import "components/charts";
@import "components/tooltip";
@import "components/places";
@import "components/button";
@import "components/header-with-toggle";
@import "components/media";
@import "components/_legend";

.option-list {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    margin: 0;
}

.option-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.parameter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.25rem;
}

.parameter__label {
    font-weight: bold;
    margin-right: 0.5rem;
}

select {
    margin: 0.25rem 0;
    font-family: $font-family;
    font-size: 1rem;
    max-width: 200px;
    line-height: 1.5;
}

.modal-wrapper {
    position: absolute;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.modal-content {
    line-height: 1.5;
    z-index: 1000000;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: $raised;
    padding: 1rem;
    color: #444;
    border: 1px solid #004464;
    max-width: 36rem;
    max-height: 100%;
    overflow: auto;

    code, label {
        display: block;
    }

    button {
        cursor: pointer;
        font-size: 10pt;

        &[disabled] {
            cursor: default;
        }
    }
}

.text-input {
    font-size: 1rem;
    font-family: $font-family;
    border: 1px solid $outline-grey;
    padding: 0.25rem;
    transition: all 100ms ease;
    outline: none;
    background: none;
    margin: 0.5rem 0;
}

.text-area {
    height: 10rem;
    resize: none;
    width: 100%;
    margin: 0.5rem 0;
}

.short-text-area {
    height: 5rem;
}

.vertical-align {
    vertical-align: middle;
}

.dropdown {
    transition-duration: 60ms;
}

#mobile-upload {
    display: none;
}

#desktop-upload {
    display: inline-block;
    border: 1px solid #000;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;

    &.unsaved {
        background-color: #fff;
    }
    &.saved {
        background-color: #efe;
        cursor: default;
    }
    &.updated {
        background-color: #eef;
    }
}

.modal-wrapper code {
    user-select: all;
    -webkit-user-select: text;
}
.modal-wrapper input, .modal-wrapper button, .custom-select-wrapper {
    -webkit-user-select: all;
}
input, textarea {
    -webkit-user-select: text;
    user-select: all;
    user-select: text;
}

#save-popup {
    display: none;
    visibility: hidden;
    top: 42px;
    left: 10px;
    right: 10px;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    margin: .7em 0 0;
    position: absolute;
    z-index: 1900;
    border: 1px solid #ddd;
    background: #fff;
    padding: 1em;
    border-radius: .3rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);

    &.show {
        display: block;
        visibility: visible;

        strong {
            display: block;
        }

        code {
            display: block;
            word-break: break-all;
            user-select: all;
            -webkit-user-select: text;
        }

        input, button {
            user-select: all;
            -webkit-user-select: all;
        }

        button {
            cursor: pointer;

            &.close-button {
                float: right;
                border: 2px solid #000;
                font-weight: bold;
            }
        }
    }

    &:before {
        top: -.3em;
        left: 70%;
        -webkit-box-shadow: -1px -1px 0 0 #bababc;
        box-shadow: -1px -1px 0 0 #bababc;
        background: #fff;
        position: absolute;
        content: '';
        width: .7em;
        height: .7em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 2;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}

@media (max-width: 900px) {
    #mobile-upload {
        display: block;
    }

    #desktop-upload {
        display: none;
    }
}

.print-only {
  display: none;
}
@media print {
    .mapboxgl-canvas {
        transform:scale(.65);
        transform-origin:0 0;
    }

    .report-data-list .toolbar-checkbox,
    .mapboxgl-control-container, .geocoder {
        display: none;
    }

    web-header {
      display: none;
    }

    .print-only {
      display: block;
    }

    .toolbar {
      position: absolute;
    }

    .print-summary {
      width: 100%;
      z-index: 999;
      top: 102%;
      top: 102vh;
      position: absolute;
      background: #fff;
      clear: both;
      margin-top: 2%;

      & > div {
        border-bottom: 1px solid silver;
        padding-bottom: 10px;
      }

      h4 > .part-number {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 1px;
        margin-right: 12px;
      }

      p {
        white-space: break-spaces;
      }
    }
}

.modal-wrapper {
    top: 0;
}
#extra-event, #extra-event-popup {
    display: none;
}

.section_coi2 {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid silver;

    .centered {
        text-align: center;
    }
}
.coi2 {
    .toolbar {
        width: 40% !important;
        max-width: 40% !important;
    }
}

.vra {
    .toolbar {
        width: 30% !important;
        max-width: 500px !important;
    }
}

.contiguity-label {
  label, input {
    cursor: pointer;
  }

  input {
    vertical-align: middle;
    margin-left: 16px;
  }
}

li.party-desc span {
  vertical-align: middle;

  &:first-child {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
}

#coi_browse {
  display: none;
  border: 2px inset #888;
  max-height: 150px;
  overflow-y: scroll;
  padding: 3px;

  label {
    cursor: pointer;

    .coi-squareSpan {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }
}

iframe {
  /* netlify widget */
  display: none !important;
  visibility: hidden !important;
}

#modal-coi-copy {
  min-width: 500px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .number-box {
    border-radius: 10px;
    background: #ccc;
    width: 20px;
    text-align: center;
    margin-right: 3px;
  }

  h4 small {
    display: block;
    max-width: 160px;
    overflow: hidden;
  }

  & > div {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-top: 10px;

    ul {
      flex-direction: column;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      padding: 10px;
      padding-top: 0;
      background: aliceblue;

      &.selected {
        background: lightblue;
      }

      li {
        display: flex;
        list-style-type: none;
      }
    }
  }
}

.italic-note {
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
  font-style: italic;
}

.modal-content {
  .col {
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }

  label {
    font-weight: bold;
  }

  label.wrap {
    cursor: pointer;
    font-weight: normal;
  }

  input {
    background: #fff;
  }
}
