.event-list {
    li {
        list-style-type: none;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 20px;
    }

    strong {
        display: block;
    }
}

.event-form {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;

    select {
        cursor: pointer;
    }
}
