@import "base";
@import "colors";
@import "headings";
@import "splash";
@import "components/places";
@import "components/place-map";
@import "components/button";
@import "components/signin";

a {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.decorated-section {
    // background-color: white;
    // border-top: 1px solid $mggg-blue;
    // border-bottom: 1px solid $mggg-blue;
    background-color: $districtr-light-grey;
}
