@import "base";
@import "colors";
@import "headings";
@import "splash";
@import "components/places";
@import "components/place-map";
@import "components/button";
@import "components/signin";

a {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.decorated-section {
    // background-color: white;
    // border-top: 1px solid $mggg-blue;
    // border-bottom: 1px solid $mggg-blue;
    background-color: $districtr-light-grey;
}

.landing-page .place-map__search[value=""] {
    display: none;
}

ul#nav {
  display: block;
  width: 100%;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  img {
    display: inline-block;
    max-width: 180px;
  }

  li {
    display: inline-block;
    list-style-type: none;
    float: right;
    background: #000;
    margin-left: 4px;

    a {
      display: block;
      color: #fff;
      font-size: 16px;
      padding: 10px 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
