.col1, .col2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
ul#nav li {
  background: none;
}
ul#nav li a {
  color: #0099cd;
  text-transform: uppercase;
}
.splash-text {
  text-align: center;
  color: #0099cd;
}
.splash-text img {
  max-width: 100%;
}
.takeaway {
  font-size: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #0099cd;
}
.l-major-section {
  padding-bottom: 1rem;
}
.col1 {
  width: 70%;
}
.col2 {
  width: 28%;
  text-align: right;
}
.col2 img {
  width: 85%;
}
.youdraw, .takeaway {
  background: #fff;
  display: block;
}
.youdraw {
  color: #444;
  padding-top: 0;
  margin-top: -35px;
  font-size: 150%;
}
h2 {
  margin-left: 0;
  vertical-align: middle;
}
@media (max-device-width:900px) {
  section {
    text-align: center;
  }
  section p {
    text-align: left;
  }
  .headerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .col1 {
    width: 100%;
  }
  .col2, .mobilehide {
    display: none;
  }
  h2 {
    margin-left: 0;
  }
}
@media (min-width:1000px) {
  h2 {
    margin-left: -5%;
  }
  .l-major-section {
    margin-left: 10%;
    margin-right: 10%;
  }
  .col1 {
    width: 71%;
  }
  .col2 {
    width: 28%;
  }
  .start-districting {
    width: 75%;
    margin-left: 12.5%;
  }
}
.place-map__form {
  margin-bottom: -30px;
}
.place-map__search {
  font-size: 1.5rem;
}
.l-major-section h3 {
  color: darkblue;
}
.l-major-section p {
  font-size: 20px;
}
span.badge {
  font-size: 70%;
  background: #0099cd;
  color: #fff;
  padding: 6px;
  border-radius: 6px;
}
.start-districting {
  height: auto !important;
}
#nav-links {
  justify-content: flex-end;
}
a.bookmark {
  position: relative;
  top: -40px;
}
strong {
  font-size: 109%;
}
#uploader {
  margin-top: -30px;
  margin-bottom: -10px;
}
.headerimg {
  display: inline-block;
  width: 165px;
  vertical-align: middle;
  margin-left: 20px;
}
