@import "base";
@import "colors";
@import "headings";
@import "splash";
@import "place";
@import "components/places";

ol {
  padding: 0;
}

iframe {
  /* netlify widget */
  display: none !important;
  visibility: hidden !important;
}

.screenshot {
  box-shadow: $raised;
  width: 150%;
  margin: 2rem -25%;
  overflow: auto;
  border: 1px solid $outline-grey;
}

p {
  line-height: 1.75;

  div {
    display: inline;
  }
}

h2 {
  background: $districtr-grey-active;
  margin: 2rem 0;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  margin-left: -5%;
  display: inline-flex;
  border-radius: 0.25rem;
}

h3 {
  margin: 2rem 0;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.question {
  font-style: italic;
  line-height: 2;
  margin: 1rem 0 0.5rem;
}

.q-and-a {
  margin: 0 0 3rem;
}

.place__subheading {
  margin: 3rem 0;
  font-size: 2.5rem;
  border-bottom: none;
  background-color: $districtr-grey-active;
}

h4 {
  font-size: 1.25rem;
  margin: 2rem 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0;
  width: 150%;
  margin: 2rem -25%;
  overflow: auto;
}

.figure_screenshot {
  width: 100%;
  border: 1px solid $outline-grey;
  box-shadow: $raised;
}

figcaption {
  margin: 0 0 1rem;
  font-weight: lighter;
  font-size: 1.5rem;
}

.place__name__local {
  //font-family: "Playfair Display";
  font-weight: 500;
  line-height: 1.5;
}

.place__name {
  //font-family: "Source Sans Pro";
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-top: 1rem;
}

.place__content {
  width: 80%;
  max-width: 75rem;
  margin-top: 4rem;
}

.place-options {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.locals {
  justify-content: left;
}

.places-list__item--small {
  max-width: none;
}

.places-list__item--small.old-card {
  background-color: #aaa;
}

.places-list__item--small.old-card:hover {
  background-color: #888;
}

.places-list--columns {
  align-items: stretch;
  margin-bottom: 1rem;
}

/* Statewide vs Local Selection */

label {
  background-color: #aaa;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  color: white;
  border-width: 1px;
  border-style: hidden solid;
  border-color: white;
  font-size: 1.125rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

label:hover {
  background-color: #888;
  //color: #92e3ff;
}

input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  background-color: $districtr-dark-purple;
}

input[type="radio"]:checked + label:hover {
  background-color: $districtr-very-dark-purple;
}

input[type="radio"].comm:checked + label {
  background-color: $districtr-red-dark;
}

input[type="radio"].comm:checked + label:hover {
  background-color: $districtr-red-very-dark;
}

.mode-selection {
  flex-basis: 11.5rem;
  flex-grow: 0;
}

/* Header */

.jump {
  margin-top: -3rem;
  padding-top: 3rem;
  //background-color: #red;
}

.banner__title {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 0.4rem 0;
  font-size: 1.2rem;
}

/* nav */
.site-header {
  // background: white;
  background-color: #eee;
  //border-bottom: 1px solid $mggg-very-dark-blue;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-shadow: $raised;
  //box-shadow: $inset-bottom;

  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1001;
}

.site-nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__logo {
  flex: 1.5;
  padding: 0.5rem 0;
}

.site-nav__logo__img {
  height: 3rem;
  //max-width: 180px;
  filter: none;
  display: block;
}

.site-nav__contents {
  flex: 4;
  justify-content: center;
  overflow-x: hidden;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;

  a,
  a:visited {
    color: $mggg-dark-blue;
  }
  a:hover {
    color: $mggg-very-dark-blue;
  }
}

.nav-links__link {
  display: block;
  padding: 0 1rem;
  font-weight: 400;
  //font-family: $font-sans-thin;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #000;

  transition: all 100ms ease;
}

.nav-links__link--see-more {
  align-self: center;
  background-color: $districtr-light-grey;
  margin: 1rem 0;
}

.nav-links__link--major {
  line-height: 1.5;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.nav-links__link--img {
  height: 2.5rem;
  filter: none;
  line-height: 3;
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: block;
}

.nav-links__link--major:hover,
.nav-links__link--major:active {
  background-color: $districtr-grey-active;
}

.nav-links__link--current {
  //background-color: $grey;
  // font-weight: bold;
}

.site-nav__open-btn {
  border-radius: 0.25rem;
  margin: 0;
  outline: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  line-height: 1;
  color: none;
  background: none;
  cursor: pointer;

  display: none;

  &:hover {
    background-color: $districtr-grey-active;
  }

  &:active {
    background-color: $districtr-grey-active;
  }
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (max-width: 750px) {
  nav {
    flex-direction: column;
    padding: 0rem;
  }
  .site-nav {
    padding: 0;
  }
  .site-nav__open-btn {
    display: flex;
  }
  .site-nav__contents {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .site-nav__contents {
    display: none;
  }
  .site-nav__contents--show {
    display: flex;
  }
  .site-nav__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .nav-links__link:hover,
  .nav-links__link:active {
    background-color: $districtr-grey-active;
  }

  .nav-links__link--major {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.l-center {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  //width: 100%;
}

.plan-thumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem;
  padding: 0;
  justify-content: center;
  align-items: stretch;
}

.plan-thumbs__thumb {
  box-shadow: $raised;
  margin: 0.5rem;
  transition: 100ms all ease;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
  //min-width: 250px;
  width: auto;
  border: 1px solid $districtr-grey-active;
}

.plan-thumbs__thumb:hover,
.plan-thumbs__thumb:active {
  box-shadow: $focus-shadow;
}

.thumb__img {
  min-height: 12rem;
  width: 12rem;
  object-fit: contain;
  align-self: center;
  border-right: none;
  border-bottom: 1px solid $districtr-grey-active;
}

.thumb__caption {
  color: #666;
  padding: 1rem;
  flex: 1;
  font-weight: normal;
  font-size: 1rem;
}

.thumb__heading {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
  line-height: 1;
  color: #444;
  text-align: center;
}

table {
  width: 100%;
  margin: 0 0 1rem;
}

td:first-child {
  text-align: left;
}

th {
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 90%;
  padding: 0.75rem;
}

td {
  font-size: 85%;
  text-align: center;
  padding: 0.5rem;
}

caption {
  display: table-caption;
  text-align: top center;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 90%;
  padding: 0.75rem;
}

.rules {
  td:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.data {
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.italic-note {
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
  font-style: italic;
}
