{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "defaults, not ie <999, not Android < 999"
                }
            }
        ]
    ]
}
