{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "last 10 Firefox versions, last 10 Chrome versions, last 10 Edge versions, last 10 Safari versions"
            }
        ]
    ]
}
