* {
    box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro";
}

body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#toolbar {
    position: fixed;
    right: 0;
    height: 400px;
    background: white;
    padding: 1rem;
}
