.square-button {
    background: black;
    width: 42px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0.1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #f9f9f9;
    font-weight: normal;
    transition: all ease 200ms;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.square-button:active {
    border-radius: 0.4rem;
}

.button {
    background: black;
    color: #f9f9f9;
    transition: all ease 60ms;
    border: none;
    outline: none;
    line-height: 1.4;
    padding: 0.2rem 0.6rem;
    cursor: pointer;
}

.button:active {
    border-radius: 0.4rem;
    color: #eee;
}
