.button,
.button:visited {
    background: $districtr-red;
    color: white;

    border-radius: 0.4rem;
    // padding: 0.2rem 0.4rem;
    padding: 0.1rem 0.4rem;

    font-weight: 400;
    font-family: $font-family;

    margin: 0;
    outline: 0;
    border: none;
}

.button:hover,
.button:active {
    cursor: pointer;
    color: white;
    background: $districtr-red-dark;
}

.button:active {
    outline: 0;
}

.button:focus {
    box-shadow: $focus-shadow;
    outline: 0;
}

.button--alternate {
    background-color: $mggg-blue;
}

.button--alternate:hover,
.button--alternate:active {
    background: $mggg-dark-blue;
}

.button--transparent {
    background: none;
    color: $mggg-blue;
}

.button--transparent:hover {
    background: $districtr-grey-hover;
    color: $mggg-blue;
}

.button--transparent:active {
    background: $districtr-grey-active;
    color: $mggg-blue;
    box-shadow: none;
}

.button--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    line-height: 1;
}

.square-button {
    background: black;
    width: 42px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0.1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $districtr-light-grey;
    font-weight: normal;
    transition: all ease 200ms;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.square-button:active {
    border-radius: 0.4rem;
}
