.bar-chart rect {
    fill: #aaa;
    transition: all ease 60ms;
}

.report-data-list {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem 0;
    padding: 0;
    max-width: 330px;
    grid-gap: 0.5rem;
}

.report-data-list dd,
.report-data-list dt {
    margin: 0;
}

.report-data-list dt {
    font-weight: bold;
}

.report-data-list dt::after {
    content: ":";
}

.report-data-list dd {
    text-align: right;
}

.bar-chart {
    background: $districtr-light-grey;
    box-shadow: 0px -10px 15px -20px rgba(0, 0, 0, 0.3) inset,
        0px 10px 15px -20px rgba(0, 0, 0, 0.3) inset;
}

.bar-chart text {
    text-shadow: 1px 1px $districtr-light-grey;
}

.bar-chart .bar-chart-overlay {
    fill: #eeeeee;
    z-index: 100;
}

.bar-chart .seats-list__item {
    fill: white;
    text-shadow: none;
    font-weight: bold;
}

.pop-balance-chart__header {
    color: #111;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    width: 300px;
    // text-align: center;
    border-bottom: 1px solid #aaa;
    margin: 0;
}

.pop-balance-chart__header > * {
    padding: 0.2rem;
}

.pop-balance-chart__header > *:first-child {
    background: #eee;
}
