.bar-chart rect {
    fill: #aaa;
    transition: all ease 60ms;
}

.report-data-list {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.bar-chart {
    margin: 0 1rem;
    background: $districtr-light-grey;
    // this is needed for Chrome and probably other browsers
    align-self: stretch;
    // box-shadow: 0px -10px 15px -20px rgba(0, 0, 0, 0.3) inset,
    // 0px 10px 15px -20px rgba(0, 0, 0, 0.3) inset;
}

.bar-chart text {
    text-shadow: 1px 1px $districtr-light-grey;
    letter-spacing: 0.025rem;
}

.bar-chart .bar-chart-overlay {
    fill: #eeeeee;
    z-index: 100;
}

.bar-chart .seats-list__item {
    fill: white;
    text-shadow: none;
    font-weight: bold;
}

.pop-balance-chart__header {
    color: #111;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    width: 300px;
    // text-align: center;
    border-bottom: 1px solid $outline-grey;
    margin: 0;
}

.pop-balance-chart__header > * {
    padding: 0.2rem;
}

.pop-balance-chart__header > *:first-child {
    background: #eee;
}
