#cut_edges_distrib_canvas {
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.cut_edges_distribution {
  max-width: 100%;
  width: 350px;
}

.cut_edges_distribution > img {
  max-width: 100%;
  display: none;
}

.marks {
  display: none;
}