.color-scale__labels {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.8rem;
    color: #444;
}

.color-scale__label {
    margin: 0;
    padding: 0;
    list-style: none;
}

.color-scale {
    max-width: 300px;
}

.color-scale__bar {
    width: 100%;
    height: 1.5rem;
    border: solid 1px $outline-grey;
}

.color-scale-continuous {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.yrselect {
    padding-top: 4px;
    padding-bottom: 4px;

    label, input {
      cursor: pointer;
      display: inline-block;
    }

    label:first-child {
      cursor: default;
    }
}

.color-legend {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;

    .labels {
        display: none;

        .square {
            font-size: 10pt;
        }
    }

    .square {
        width: 40px;
        height: 24px;
        display: inline-block;
    }

    .notch {
        width: 40px;
        display: inline-block;
        font-size: 10px;
        height: 10px;
    }

    .gradientbar {
        width: 218px; /* 240px; */
        height: 24px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.81));
        display: inline-block;
        border: 1px solid #ddd;
        border-left: none;
        border-right: none;

        &.purple {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 139, 0.81));
        }

        &.greenorange {
            background: linear-gradient(to right, rgb(250,179,71), 30%, #d8d8d8, 70%, rgb(90,180,122));
        }
    }
}
