.color-scale__labels {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.8rem;
    color: #444;
}

.color-scale__label {
    margin: 0;
    padding: 0;
    list-style: none;
}

.color-scale {
    max-width: 300px;
}

.color-scale__bar {
    width: 100%;
    height: 1.5rem;
    border: solid 1px $outline-grey;
}

.color-scale-continuous {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.color-legend {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;

    .labels {
        display: none;

        &.show-default {
            display: block;
        }

        .square {
            font-size: 10pt;
        }
    }

    .square {
        width: 40px;
        height: 24px;
        display: inline-block;
    }

    & > .square {
        width: 24px;
        margin-left: 8px;
        margin-right: 8px;

        border: 1px solid #444;

        &:nth-child(1) {
          background: rgba(0, 0, 0, 0);
        }
        &:nth-child(2) {
          background: rgba(0, 0, 0, 0.2);
        }
        &:nth-child(3) {
          background: rgba(0, 0, 0, 0.4);
        }
        &:nth-child(4) {
          background: rgba(0, 0, 0, 0.6);
        }
        &:nth-child(5) {
          background: rgba(0, 0, 0, 0.8);
        }
        &:nth-child(6) {
          background: rgba(0, 0, 0, 0.99);
        }
    }

    &.partisan-legend > .square {
      // 249, 249, 249 to 25, 118, 210
      &:nth-child(1) {
        background: rgba(137, 184, 230, 0.99);
      }
      &:nth-child(2) {
        background: rgba(182, 210, 237, 0.8);
      }
      &:nth-child(3) {
        background: rgba(227, 236, 245, 0.4);
      }
      &:nth-child(4) {
        background: rgba(245, 229, 229, 0.4);
      }
      &:nth-child(5) {
        background: rgba(238, 188, 188, 0.8);
      }
      &:nth-child(6) {
        background: rgba(230, 148, 148, 0.99);
      }
      // 249, 249, 249 to 211, 47, 47

    }
}
