.media {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: $raised;
    padding: 1rem;
    color: #666;
    border: 1px solid #00446444;
    max-width: 30rem;
}

.media__title {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: normal;
    margin: 0 0 0.5rem;
}

.media__title--blue {
    color: $mggg-blue;
}

.media__subtitle {
    font-weight: normal;
    font-size: 1.41rem;
    color: #666666;
    margin: 0 0 0.5rem;
}

.media__close {
    height: 32px;
    width: 32px;
    float: right;
}

.media__body {
    overflow: auto;
    max-height: 400px;
}
