.state {
    fill: #dddddd;
}
.state--available {
    fill: #0099cd;
}
.state--available:hover {
    fill: #006b9c;
    cursor: pointer;
}
.state--available:active {
    fill: #004464;
}

.place-map {
    margin: 0 auto;
    max-width: 65%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.place-map__search {
    font-size: 1.5rem;
    color: $mggg-blue;
    font-family: $font-family;
}
