@import "shadows";

.places-list-container {
    margin: 0 auto;
    width: 65%;
    max-width: 72rem;
    padding: 0;
}

.places-list {
    list-style: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.places-list__item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    // background: #eee;

    transition: all ease 100ms;
    width: 10rem;
    height: 10rem;

    border-radius: 0.5rem;
    background: $districtr_red;
    color: white;
}

.places-list__item:focus {
    box-shadow: $focus_shadow;
}

.places-list__item:hover {
    background: $districtr_red_dark;
}

.places-list__item {
    cursor: pointer;
}

.place-name {
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

.place-info {
    font-size: 0.875rem;
    color: #f7f1ee;
    margin: 0.25rem 0;
}

.plan-loader {
    margin: 1rem auto;
    text-align: center;
    color: #444;
}

@media only screen and (max-width: 600px) {
    .places-list {
        flex-direction: column;
        align-items: stretch;
    }
    .places-list-container {
        width: 100%;
    }
    .places-list__item {
        height: auto;
        width: auto;
    }
}

.start-districting {
    background: $districtr_light_grey;
    margin: 0 auto;
    // width: 60%;
    padding: 1rem 0;
}

.start-districting__title {
    text-align: center;
    line-height: 1.25;
    margin: 1rem 0;
    color: black;
}

.request-new-place {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem auto;
    line-height: 2;
    align-items: center;
}

.call-to-request {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0 0.5rem;
}

@media only screen and (max-width: 800px) {
    .call-to-request {
        font-size: 1.5rem;
    }
}
