.sign-in__link {
    line-height: 1.75;
    margin: 0 0.5rem;
    font-weight: 400;
    font-family: $font-family;
    font-size: 1.25rem;
    // background: #eee;
}

.sign-in {
    position: absolute;
    min-width: 40%;
    right: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    .sign-in {
        display: none;
    }
}
