.sign-in-link {
    line-height: 1.75;
    margin: 0 0.5rem;
    font-weight: 400;
    font-family: $font_family;
    font-size: 1.25rem;
    // background: #eee;
}

.sign-up-link {
    color: white;
    margin: 0 1rem;
}

.sign-up-link:visited {
    color: white;
}

.sign-up-link:hover {
    color: white;
}

.sign-in-header {
    position: absolute;
    min-width: 40%;
    right: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .sign-in-header {
        display: none;
    }
}
