.slider-value {
    width: 3rem;
    background: none;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    outline: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.slider {
    cursor: pointer;
    width: 10rem;
}

.slider-container {
    display: flex;
}
