@import "icon-list";
@import "slider";

#toolbar {
    z-index: 10000;
    position: fixed;
    right: 0;
    // background: rgba(255, 255, 255, 0.8);
    background: white;
    padding: 0;
    margin: 0;
    min-width: 300px;
    height: 100vh;
    overflow-y: auto;
    // box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    // 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: -10px 0px 15px -20px rgba(0, 0, 0, 0.3);
    width: 350px;
    display: flex;
    flex-direction: column;
}

.toolbar-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

fieldset {
    margin: 0.5rem 0;
    padding: 0;
    border: 0;
}

legend {
    font-weight: 600;
    margin: 0 auto;
    line-height: 1.8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0.2rem;
    width: 80%;
    justify-content: center;
}

.color-list__item {
    width: 24px;
    height: 24px;
    margin: 0.1rem;
}

.tool-options {
    background: $districtr_light_grey;
    box-shadow: 0px -10px 15px -20px rgba(0, 0, 0, 0.3) inset,
        0px 10px 15px -20px rgba(0, 0, 0, 0.3) inset;
    max-height: 0px;
    overflow: hidden;
    transition: all 200ms ease;
    display: flex;
    opacity: 0;
    justify-content: stretch;
    flex-direction: column;
}

.tool-options.active {
    opacity: 1;
    border-top: solid 1px #aaa;
    max-height: 20rem;
}

.tool-option-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.toolbar-checkbox {
    display: block;
    margin: 0 0 0.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 0 0.25rem;
    align-self: flex-start;
}

.toolbar-checkbox:hover {
    background: $districtr_grey_hover;
}

.toolbar-checkbox:active {
    background: $districtr_grey_active;
}

@media only screen and (max-width: 450px) {
    #toolbar {
        top: 0;
        overflow-y: auto;
        width: 100%;
    }
}

.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-items: center;
}

.tabs__tab {
    padding: 0.5rem 1rem;
    border: solid #aaa 1px;
    border-left: solid #ffffff00 1px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: $districtr_light_grey;
    transition: all ease 100ms;
    box-shadow: 0px -10px 15px -20px rgba(0, 0, 0, 0.3) inset,
        0px 10px 15px -20px rgba(0, 0, 0, 0.3) inset;
}

input:hover ~ .tabs__tab {
    background: $districtr_grey_hover;
}

input:active ~ .tabs__tab {
    background: $districtr_grey_active;
}

li:last-child .tabs__tab {
    border-right: solid #ffffff00 1px;
}

.tabs li {
    position: relative;
    width: 100%;
}

.tabs input {
    margin: 0;
    padding: 0;

    position: absolute;

    opacity: 0;

    cursor: pointer;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    z-index: 1000;
}

input:checked ~ .tabs__tab {
    border-bottom: solid #ffffff00 1px;
    font-weight: 600;
    background: #fff;
    box-shadow: none;
}

.tab__body.active {
    display: block;
}

.tab__body {
    display: none;
}

.part-number {
    // override this with style attribute to match
    // district color
    background: #aaa;

    width: 1.5em;
    height: 1.5em;
    margin: 0 0.2rem;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    // Should adjust depending on color to make sure
    // contrast ratio is OK
    color: white;
}

.tool-options {
    flex-shrink: 0;
}

.icon-list {
    flex-shrink: 0;
}

.tab__body {
    overflow-y: auto;
    margin: 1rem 0;
    flex-shrink: 10;
}

.tab__body h3 {
    margin: 0 0 1rem;
}

.tab__body h4 {
    margin: 0.2rem 0;
    font-size: 1.2rem;
}

.data-table {
    border: none;
    width: 90%;
    margin-bottom: 1rem;
}

.data-table td {
    text-align: right;
    background: $districtr_light_grey;
}

.part-number {
    margin: 0 auto;
}

.toolbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}
