@import "../shadows";
@import "../colors";

.plan-thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem;
    padding: 0;
    justify-content: center;
}

.plan-thumbs__thumb {
    box-shadow: $raised;
    margin: 0.5rem;
    transition: 100ms all ease;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    min-width: 250px;
    width: 36rem;
    border: 1px solid $districtr-grey-active;
}

.plan-thumbs__thumb:hover,
.plan-thumbs__thumb:active {
    box-shadow: $focus-shadow;
}

.thumb__img {
    min-height: 12rem;
    width: 12rem;
    object-fit: contain;
    align-self: center;
    border-right: 1px solid $districtr-grey-active;
}

@media only screen and (max-width: 36rem) {
    .thumb__img {
        border-right: none;
        border-bottom: 1px solid $districtr-grey-active;
        width: 100%;
    }
    .plan-thumbs__thumb {
        width: auto;
    }
    .plan-thumbs {
        align-items: stretch;
        flex-direction: column;
    }
}

.thumb__caption {
    color: #666;
    padding: 1rem;
    flex: 1;
    font-weight: normal;
    font-size: 1rem;
}

.thumb__heading {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
    line-height: 1;
    color: #444;
}
